* {
	margin: 0;
	padding: 0;
}

body, html {
	background: lightgray;
	text-align: center;
	max-width: 100%;
}

section#wrapper-main {
	width: 100%;
	position: relative;
	display: block;
}

section#wrapper-game {
	position: relative;
	top: 40px;
	display: block;
	margin: 0 auto;
	background: url( img/background-game.png );
	width: 1024px;
	height: 576px;
	overflow: hidden;
}

div#start-menu {
	background: url( img/start-menu.png );
	background-size: 100% 100%;
	display: block;
	position: absolute;
	z-index: 1000;
	width: 1024px;
	height: 576px;
	top: 0;
	left: 0;
}

div#gameover {
	background: url( img/gameover.png );
	background-size: 100% 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 1024px;
	height: 576px;
	z-index: 1000;
}

div#gameover a#game-again {
	display: inline-block;
	padding: 15px 30px;
	background: rgba(240,240,240,.7);
	margin-top: 15%;
	color: black;
	font-size: 18px;
	text-decoration: none;
	width: auto;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

div#gameover a#game-again:hover {
	background: rgba(0,0,0,.9);
	color: lightgray;
	box-shadow: 0 0 10px white;
}

div#player, div#playerTest {
	position: absolute;
	top: 235px;
	left: 30px;
	width: 60px;
	height: 150px;
	background: url( img/player.png );
	background-size: auto 100%;
	z-index: 2;
}

div#gun-metal {
	background: url( img/gun-metal.png );
	background-size: 100% 100%;
	width: 80px;
	height: 150px;
	position: absolute;
	top: -100px;
	left: 793px;
	z-index: 21;
}

div#ball-metal {
	background: url( img/ball-metal.png );
	background-size: auto 100%;
	width: 60px;
	height: 60px;
	position: absolute;
	top: -15px;
	left: 803px;
	z-index: 20;
}

div#gun-boss {
	background: url( img/gun-boss.png );
	background-size: 100% 100%;
	width: 300px;
	height: 250px;
	position: absolute;
	right: -100px;
	top: 130px;
	z-index: 10;
}

div#robot-boss {
	background: url( img/robot-boss.png );
	width: 719.5px;
	height: 160px;
	position: absolute;
	top: 225px;
	animation: boss 3.8s infinite ease-in;
	-webkit-animation: boss 3.8s infinite ease-in;
}

div#cohete {
	background: url( img/cohete.png );
	height: 20px;
	width: 89px;
	position: absolute;
	left: 900px;
	top: 352px;
	animation: cohete 4s infinite;
	-webkit-animation: cohete 4s infinite;
}

div#bird {
	width: 121px;
	height: 100px;
	background: url( img/bird.png );
	position: absolute;
	top: 50px;
	left: 1024px;
	z-index: 5;
}

div#medals {
	background: url( img/medallas.png );
	position: absolute;
	width: 48px;
	height: 48px;
}

div#medals.medal-1 {
	left: 195px;
	top: 260px;
}

div#medals.medal-2 {
	left: 254px;
	top: 245px;
}

div#oxygen {
	background: url( img/oxygen.png );
	position: absolute;
	background-size: 100% 100%;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	animation: oxygenFx 3s infinite;
	-webkit-animation: oxygenFx 3s infinite;
}

div#oxygen.oxygen-1 {
	top: 240px;
	left: 150px;
}

div#oxygen.oxygen-2 {
	top: 260px;
	left: 267px;
}

div#floor, div#floor2 {
	background: rgba(255,0,0,.2);
	position: absolute;
	top: 385px;
	height: 40px;
	opacity: 0;
}

div#floor {
	width: 750px;
	left: 0;
}

div#floor2 {
	width: 105px;
	left: 920px;
}

div#tree {
	width: 61px;
	height: 80px;
	background: rgba(0,0,250,.2);
	position: absolute;
	top: 345px;
	left: 804px;
	opacity: 0;
}

.direction-left {
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}

@keyframes oxygenFx {
	0% { box-shadow: 0 0 0px cyan; }
	50% { box-shadow: 0 0 40px cyan; }
	100% { box-shadow: 0 0 0px cyan; }
}

@-webkit-keyframes oxygenFx {
	0% { box-shadow: 0 0 0px cyan; }
	50% { box-shadow: 0 0 40px cyan; }
	100% { box-shadow: 0 0 0px cyan; }
}

@keyframes boss {
	0% { right: -420px }
	50% { right: -100px; }
	100% { right: -420px }
}

@-webkit-keyframes boss {
	0% { right: -420px }
	50% { right: -100px; }
	100% { right: -420px }
}

a#link-flora, a#link-guadua, a#link-fosil {
	position: absolute;
	display: block;
	width: 119px;
	height: 119px;
	border-radius: 50%;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}

a#link-flora:hover, a#link-guadua:hover, a#link-fosil:hover {
	box-shadow: 0 0 15px white;
}

a#link-flora {
	left: 717px;
	top: 80px;
}

a#link-guadua {
	left: 328px;
	top: 92px;
}

a#link-fosil {
	left: 318px;
	top: 424px;
}

div#radiactivo {
	background: url( img/radiactive.png );
	background-size: auto 100%;
	width: 30px;
	height: 30px;
	position: absolute;
}

div#radiactivo.one {
	left: 280px;
	top: 348px;
}

div#radiactivo.two {
	left: 520px;
	top: 348px;
}

div#acid {
	background: url( img/acid.png );
	background-size: auto 100%;
	width: 129px;
	height: 70px;
	position: absolute;
	top: 345px;
	left: 600px;
	z-index: 2;
}

div#blur-acid {
	background: url( img/blur-acid.png );
	background-size: auto 100%;
	width: 129px;
	height: 70px;
	position: absolute;
	top: 345px;
	left: 600px;
	z-index: 1;
}

div#fire-supergun {
	background: url( img/fire-supergun.png );
	/*background-position: 100% 100%;*/
	width: 118.5px;
	height: 40px;
	position: absolute;
	right: 177px;
	top: 237px;
}

@keyframes cohete {
	0% { left: 900px; opacity: 1; }
	90% { left: -100px; opacity: 1; }
	91% { opacity: 0; }
	100% { left: 900px; opacity: 0; }
}

@-webkit-keyframes cohete {
	0% { left: 900px; opacity: 1; }
	90% { left: -100px; opacity: 1; }
	91% { opacity: 0; }
	100% { left: 900px; opacity: 0; }
}

div#gui-player {
	background: url( img/gui-player.png );
	background-size: 100% 100%;
	width: 80px;
	height: 80px;
	position: absolute;
	top: 0px;
	left: 0px;
}

div#gui-player:after {
	background: url( img/x.png );
	background-size: 100% 100%;
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 0;
	right: -5px;
	content: "";
}

div#gui-count-player-life {
	background: url( img/count-player.png );
	background-size: auto 100%;
	width: 22.5px;
	height: 50px;
	position: absolute;
	top: 40px;
	left: 90px;
}

div#gui-oxygen-munition {
	background: url( img/gui-oxygen.png );
	background-size: 100% 100%;
	width: 80px;
	height: 80px;
	position: absolute;
	top: 0px;
	left: 110px;
}

div#gui-oxygen-munition:after {
	background: url( img/x.png );
	background-size: 100% 100%;
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 0;
	right: -5px;
	content: "";
}

div#gui-count-oxygen-munition {
	background: url( img/count-oxygen-munition.png );
	background-size: auto 100%;
	width: 22.2px;
	height: 50px;
	position: absolute;
	top: 40px;
	left: 200px;
}

div#oxygen.gui {
	left: 137px;
	top: 27px;
	width: 25px;
	height: 25px;
}